.DS_Store
._DS_Store

/shah-prj/writeup/code/identify-language/data/*
/shah-prj/writeup/code/identify-language/Graph/*

/shah-prj/writeup/code/translate-language/data/*
/shah-prj/writeup/code/translate-language/train/*
/shah-prj/writeup/code/translate-language/temp/*

/shah-prj/writeup/data/*
